.otsikko{
    
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    flex:14;

}
h2{

    text-align: center;

}
a{

    color:white;

}
body{

    margin:200px;
    background-color: darkgray;
    
}
p{
    padding:1cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin:10px;
    flex:1;

}
#Pääotsikko{
    padding:1cm;
    text-align: center;
    background-color: gray;
    border-radius:10px;
    position: relative;
    display: flex;
    

}
.pääkuva{
    /* venäjä */
    width: 1800; height: 100px;
    max-width: 100%;
    max-height: 100%;
    flex:2;
}
.pääkuva1{
    /* neuvostoliitto */
    
    width: 1800; height: 100px;
    max-width: 100%;
    max-height: 100%;
    flex: 2;
}
.navbutton{
    
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    flex: 1;
    margin:10px;
    
}
.navbutton:hover{
    animation: persekarva 2s infinite;
}
@keyframes persekarva {
    25%{color:white}
    50%{color:red}
    75%{color:blueviolet}
    100%{color:yellow}
    
}
.palkki{
    /*navbar*/
    display: flex;
    background-color:gray ;
    margin:1cm;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;

}
#talous,#luonto,#moskova,#historia,#hallinto{
    
    padding: 1cm;
    border-radius: 10px;
    background-color: gray;
    margin: 1cm;
    
    

}

#perus{


    
    padding: 1cm;
    border-radius: 10px;
    background-color: gray;
    margin: 1cm;

}
.tesöri{

    
    flex:5;

}
.lista{
    
    flex: 1;
    

}
.FLEXBOX{
    display: flex;
}